@font-face {
	font-family: tenup;
	src: url('fonts/9seeds.eot');
	src: url('fonts/9seeds.eot?#iefix') format('embedded-opentype'), url('fonts/9seeds.ttf') format('truetype'), url('fonts/9seeds.woff') format('woff'), url('fonts/9seeds.svg#9seeds') format('svg');
	font-weight: normal;
	font-style: normal;
}
